@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

h1{
  font-weight: 900;
}

.App {
  
background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='147' height='147' viewBox='0 0 200 200'%3E%3Cpolygon fill='%232CC7D5' fill-opacity='0.13' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0;
  padding:0;
  min-height:100vh;
  height: auto;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

